.container{
 min-height: 100vh;
}
.tea {
  max-width: 100%;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  padding: 20px;
  gap: 5px;

}

.tea-image {
  border-radius: 50%;
  max-width:  500px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 70s linear infinite;
}
.tea-image img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tea img {
  width: 500px;
}

.tea-title {
  font-family: "Arial Narrow", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.tea-description {
  width: 100%;
}

