.tea-collection {
  max-width: 1400px;
  margin: 72px auto 25px;
}
.tea-collection-items {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
tea-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}





